ObjectToXlsxConverter/ObjectToXlsxConverter/obj/
ObjectToXlsxConverter/.vs/
ObjectToXlsxConverter/TestingProject/bin/
ObjectToXlsxConverter/TestingProject/obj/
ObjectToXlsxConverter/ObjectToXlsxConverter/bin/
